[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/chuck.vim"]
	path = bundle/chuck.vim
	url = https://github.com/wilsaj/chuck.vim.git
[submodule "bundle/vim-cpp-modern"]
	path = bundle/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern.git
[submodule "bundle/vim-table-mode"]
	path = bundle/vim-table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "/home/adam/.vim/bundle/vim-go"]
	path = /home/adam/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "bundle/haskell-vim"]
	path = bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "bundle/scvim"]
	path = bundle/scvim
	url = https://github.com/supercollider/scvim.git
[submodule "bundle/vim-slime"]
	path = bundle/vim-slime
	url = git@github.com:jpalardy/vim-slime.git
[submodule "bundle/vim-hindent"]
	path = bundle/vim-hindent
	url = https://github.com/alx741/vim-hindent.git
[submodule "bundle/vim-pug"]
	path = bundle/vim-pug
	url = git@github.com:digitaltoad/vim-pug.git
[submodule "plugged/nvim-treesitter"]
	path = plugged/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter
[submodule "plugged/nvim-lspconfig"]
	path = plugged/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig
[submodule "plugged/cmp-nvim-lsp"]
	path = plugged/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp
[submodule "nvim-cmp"]
	path = nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp
[submodule "nvim-lspconfig"]
	path = nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig
[submodule "plugged/nvim-cmp"]
	path = plugged/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp
[submodule "plugged/plenary.nvim"]
	path = plugged/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim
[submodule "plugged/popup.nvim"]
	path = plugged/popup.nvim
	url = git@github.com:nvim-lua/popup.nvim
[submodule "plugged/telescope-fzf-native.nvim"]
	path = plugged/telescope-fzf-native.nvim
	url = git@github.com:nvim-telescope/telescope-fzf-native.nvim
[submodule "plugged/telescope.nvim"]
	path = plugged/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim
